@page
@model RecipeWebsiteRazorPages.Pages.ViewRecipeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>View Recipes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="/Index" class="navbar-brand">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-lg-auto">
                <li class="nav-item">
                    <a href="/AddRecipe">Add Recipe</a>
                </li>
                <li class="nav-item">
                    <a href="/ViewRecipe">View Recipe</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>