.navbar-nav > .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    font: bold 16px Times New Roman;
    font-display: auto;
    /*
    background-image: url(../Images/strawberrycream.jpg);
    background-size: cover;
    background-attachment: fixed;
        */
}

.box{
    background-color: white;
    width:50%;
    padding:0px;
    margin: 100px auto;
}