.navbar-nav > .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    
}

body {
    font: bold 16px Times New Roman;
    font-display: auto; 
}

.flexbox-container{
    display:flex;   
    flex-flow:row-reverse;
    justify-content:space-around;
}
