@page
@model RecipeWebsiteRazorPages.Pages.IndexModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>Recipes Website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @* CSS doesnt work, god knows why...*@
    <style>
        body {
            text-align: center;
            font-display: auto;
        }
        h1 {
            font: bold 62px caption;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="/Index" class="navbar-brand">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-lg-auto">
                <li class="nav-item">
                    <a href="/AddRecipe">Add Recipe</a>
                </li>
                <li class="nav-item">
                    <a href="/ViewRecipe">View Recipe</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <h1>Recipes Website</h1>
    <br /><br /><br /><br />
    <h3>
        Add Recipe: Add and view recipes
    </h3>
    <br /><br />
    <h3>
        View Recipe: View recepies in a nice fashion
    </h3>
    <br /><br />
    <img src="~/Images/website static/CakeEating.gif" />
</body>
</html>