@page
@model RecipeWebsiteRazorPages.Pages.ViewDetailsRecipeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>View Recipes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="/Index" class="navbar-brand">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-lg-auto">
                <li class="nav-item">
                    <a href="/AddRecipe">Add Recipe</a>
                </li>
                <li class="nav-item">
                    <a href="/ViewRecipe">View Recipe</a>
                </li>
            </ul>
        </div>
    </nav>
    <br /><br />
    @{
        @*
        var recipe = ViewData["recipeInfo"] as RecipeWebsiteRazorPages.Models.RecipeModel;
            *@
        if (Model.Recipe.RecipePhoto == null)
        {
            <p>model empty</p>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-5">
                        <h1>@Model.Recipe.RecipeName</h1>
                        <br />
                        <br />
                        <div class="form-group">
                            <label class="textarea">Recipe Ingredients</label>
                            <p>@Model.Recipe.RecipeIngredients</p>
                        </div>
                        <br />
                        <br />

                        <div class="form-group">
                            <label class="textarea">Recipe Description</label>
                            <p>@Model.Recipe.RecipeDescription</p>
                        </div>
                        <br />

                        <a asp-page="EditRecipe" asp-route-id="@Model.Recipe.RecipeId" class="btn btn-primary">Edit</a>
                    </div>
                    <div class="col-sm-1">
                        
                    </div>
                    <div class="col-sm-5">
                        <br />
                            <img src="~/Images/UserImages/recipePhoto.png" width="400" height="400" />
                    </div>
                </div>
            </div>
        }
    
                            
        }

</body>
</html>