@page
@model RecipeWebsiteRazorPages.Pages.ViewRecipeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>View Recipes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    
    <style>
        .navbar-nav > .nav-item {
            margin-left: 10px;
            margin-right: 10px;
        }

        body {
            font: bold 16px Times New Roman;
            font-display: auto;
        }

        .flexbox-container {
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
        }

        .card {
            width: 18rem;
            margin: 10px;
            border: 3px solid black;
            background-color: lightgrey;
        }

        .card-img-top {
            width: 100%;
            height: 20vw;
            object-fit: cover;
        }

    </style>

</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="/Index" class="navbar-brand">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-lg-auto">
                <li class="nav-item">
                    <a href="/AddRecipe">Add Recipe</a>
                </li>
                <li class="nav-item">
                    <a href="/ViewRecipe">View Recipe</a>
                </li>
            </ul>
        </div>
    </nav>
    <br /><br />

    @{
        var recipes = ViewData["recipeInfo"] as List<RecipeWebsiteRazorPages.Models.RecipeModel>;
        if (recipes.Count <= 0)
        {
            <p>not workin</p>
        }
        else
        {
            <div class="flexbox-container">
                @foreach (var recipe in recipes)
                {
                    <div class="card">
                        @{
                            var base64 = Convert.ToBase64String(recipe.RecipePhoto);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src="@imgsrc" class="card-img-top" alt="photoCard">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.RecipeName</h5>
                            <a asp-page="ViewDetailsRecipe" asp-route-id="@recipe.RecipeId" class="btn btn-primary">View</a>
                        </div>
                    </div>
                       
                 }
            </div>
        }
    }

</body>
</html>